<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Añadir Dirección</title>
    <link rel="stylesheet" href="/css/añadirDireccion.css">

</head>
<body>
<h1>Añadir Dirección</h1>
<form action="/direcciones/añadir" method="POST">
    <label for="calle">Calle:</label>
    <input type="text" id="calle" name="calle" required>
    <label for="numero">Número:</label>
    <input type="number" id="numero" name="numero" required>
    <label for="complemento">Complemento:</label>
    <input type="text" id="complemento" name="complemento">
    <label for="municipio">Municipio:</label>
    <input type="text" id="municipio" name="municipio" required>
    <label for="codigoPostal">Código Postal:</label>
    <input type="number" id="codigoPostal" name="codigoPostal" required>
    <button type="submit">Añadir</button>
</form>
<a href="/direcciones/ver">Volver</a>
</body>
</html>