<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Añadir Dirección • Iced Latte</title>
    <link rel="stylesheet" href="/css/añadirDireccion.css">
</head>
<body>
<header>
    <h1>Iced Latte</h1>
    <div class="auth-buttons">
        <button onclick="history.back()">Volver</button>
    </div>
</header>
<div class="address-section">
    <h2>Añadir Dirección</h2>
    <form action="/direcciones/añadir" method="POST">
        <div class="form-group">
            <label for="calle">Calle:</label>
            <input type="text" id="calle" name="calle" required>
        </div>
        <div class="form-group">
            <label for="numero">Número:</label>
            <input type="number" id="numero" name="numero" required>
        </div>
        <div class="form-group">
            <label for="complemento">Complemento:</label>
            <input type="text" id="complemento" name="complemento">
        </div>
        <div class="form-group">
            <label for="municipio">Municipio:</label>
            <input type="text" id="municipio" name="municipio" required>
        </div>
        <div class="form-group">
            <label for="codigoPostal">Código Postal:</label>
            <input type="number" id="codigoPostal" name="codigoPostal" required>
        </div>
        <button type="submit">Añadir</button>
    </form>
    <button class="back-button" onclick="location.href='/direcciones/ver'">Ver Todas las Direcciones</button>
</div>
</body>
</html>