<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Añadir Item</title>
</head>
<body>
<h1>Añadir Item</h1>
<form action="/añadirItem" method="POST">
  <label for="menu">Menú:</label>
  <select id="menu" name="menu">
    <!-- lista de menu -->
    <option th:each="menu : ${menus}" th:value="${menu.id}" th:text="${menu.nombre}"></option>
  </select>
  <label for="nombre">Nombre del Item:</label>
  <input type="text" id="nombre" name="nombre" required>
  <button type="submit">Añadir</button>
</form>
</body>
</html>