<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Añadir Item</title>
  <link rel="stylesheet" href="/css/añadirItem.css">

</head>
<body>
<h1 th:text="'Añadir Item a la Carta: ' + ${carta.nombre}">Añadir Item a la Carta</h1>

<form th:action="@{/cartas/editar/{cartaId}/agregarItem(cartaId=${carta.id})}" method="post">
  <label for="nombre">Nombre del Item:</label>
  <input type="text" id="nombre" name="nombre" required>

  <label for="precio">Precio:</label>
  <input type="number" id="precio" name="precio" step="0.01" required>

  <label for="tipo">Tipo de Menú (ej. Pizzas, Bebidas, etc.):</label>
  <input type="text" id="tipo" name="tipo" required>

  <button type="submit">Añadir</button>
</form>

<a th:href="@{/cartas/editar/{id}(id=${carta.id})}">⬅ Volver a la Carta</a>
</body>
</html>
