<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Carta</title>
</head>
<body>
<h1>Carta del Restaurante</h1>
<button onclick="location.href='/añadirMenu'">Añadir Menú</button>
<button onclick="location.href='/eliminarMenu'">Eliminar Menú</button>
<button onclick="location.href='/añadirItem'">Añadir Item</button>
<button onclick="location.href='/eliminarItem'">Eliminar Item</button>
<h2>Menús:</h2>
<ul>
    <!-- menus e items del restaurante iniciado la sesion -->
    <li th:each="menu : ${menus}">
        <span th:text="${menu.nombre}">Nombre del Menú</span>
        <ul>
            <li th:each="item : ${menu.items}">
                <span th:text="${item.nombre}">Nombre del Item</span>
            </li>
        </ul>
    </li>
</ul>
</body>
</html>