<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Cartas</title>
</head>
<body>
    <h1>Cartas disponibles</h1>
    <ul>
        <li th:each="carta : ${cartas}">
            <span th:text="${carta.nombre}"></span>
            <a th:href="@{/cartas/editar/{id}(id=${carta.id})}">Editar</a>
        </li>
    </ul>

    <!--a href="/cartas/crear">Crear Nueva Carta</a-->
    <button onclick="location.href='/cartas/crear'">Crear nueva carta</button>
    <button onclick="location.href='/inicioRestaurante'">Volver al Inicio</button>
</body>
</html>