<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Confirma tu Pedido</title>
</head>
<body>
  <h2>Confirmar Pedido</h2>

  <p><strong>Cliente:</strong> <span th:text="${cliente.nombre}"></span></p>
  <form action="/confirmarPedido" method="post">
    <!-- seleccionar direccion-->
    <label for="direccionSelect"><strong>Dirección de envío:</strong></label>
    <select name="direccionId" id="direccionSelect"
            th:if="${cliente != null and not #lists.isEmpty(cliente.direcciones)}">
      <option th:each="direccion : ${cliente.direcciones}"
              th:value="${direccion.id}"
              th:text="${direccion.calle + ', ' + direccion.numero + ', ' + direccion.municipio}">
      </option>
    </select>

    <!-- Resumen del pedido -->
    <h3>Resumen del pedido:</h3>
    <ul>
      <li th:each="item : ${itemsPedido}">
        <span th:text="${item.nombre}"></span> -
        <span th:text="'€' + ${item.precio}"></span>
      </li>
    </ul>

    <h3>Total: <span th:text="'€' + ${total}"></span></h3>

    <!--metodo de pago elegido -->
    <p><strong>Método de pago:</strong> <span th:text="${metodoPago}"></span></p>

    <input type="hidden" name="clienteId" th:value="${cliente.idUsuario}" />
    <input type="hidden" name="pedidoId" th:value="${pedido.id}" />
    <input type="hidden" name="metodoPago" th:value="${metodoPago}" />

    <!-- Botones -->
    <button type="submit" formaction="/pedido/confirmar">Confirmar</button>
    <form th:action="@{/pedido/eliminar}" method="post">
      <input type="hidden" name="pedidoId" th:value="${pedido.id}" />
      <button type="submit">Atrás</button>
    </form>
  </form>
</body>
</html>