<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Crear Carta</title>
    <link rel="stylesheet" href="/css/crearCarta.css">
</head>
<body>
<h1>Crear Nueva Carta</h1>

<form action="#" th:action="@{/restaurante/crearCarta}" th:object="${carta}" method="post">
    <label for="nombre">Nombre de la Carta:</label>
    <input type="text" id="nombre" th:field="*{nombre}" required="required"/>

    <button type="submit">Crear Carta</button>
</form>


</body>
</html>
