<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Editar Dirección</title>
</head>
<body>
<h1>Editar Dirección del Restaurante</h1>

<form th:action="@{/direcciones/editar}" method="post">
  <label>Calle:</label>
  <input type="text" name="calle" th:value="${direccion.calle}" required>

  <label>Número:</label>
  <input type="text" name="numero" th:value="${direccion.numero}" required>

  <label>Complemento:</label>
  <input type="text" name="complemento" th:value="${direccion.complemento}" >

  <label>Código Postal:</label>
  <input type="text" name="codigoPostal" th:value="${direccion.codigoPostal}" required>

  <label>Municipio:</label>
  <input type="text" name="municipio" th:value="${direccion.municipio}" required>

  <button type="submit">Guardar Cambios</button>
</form>

<a href="/inicioRestaurante">Volver</a>
</body>
</html>