<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar carta</title>
    <link rel="stylesheet" href="/css/editarCarta.css">
</head>
<body>
<h1>Editar Carta</h1>

<form th:action="@{/cartas/editar/{id}(id=${carta.id})}" method="post">
    <label>Nombre de la Carta:</label>
    <input type="text" name="nombre" th:value="${carta.nombre}" required>
    <button type="submit">Actualizar</button>
</form>

<h2>Agregar Nuevo Item</h2>
<form th:action="@{/cartas/editar/{cartaId}/agregarItem(cartaId=${carta.id})}" method="post">
    <label>Nombre:</label>
    <input type="text" name="nombre" required>
    <label>Precio:</label>
    <input type="number" step="0.01" name="precio" required>
    <label>Tipo:</label>
    <input type="text" name="tipo" required>
    <button type="submit">Añadir Item</button>
</form>

<a th:href="@{/restaurante/panel}" style="text-decoration: none;">
    <button class="back-btn">← Volver al Panel</button>
</a>

</body>
</html>