<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página no encontrada • Iced Latte</title>
    <link rel="stylesheet" href="/css/error.css">
</head>
<body>
<header>
    <h1>Iced Latte</h1>
    <div class="auth-buttons">
        <button onclick="history.back()">Volver</button>
    </div>
</header>
<div class="error-section">
    <h1 class="titulo">ICED <span>Latte</span></h1>
    <h2>¡Uy! Página no encontrada (404)</h2>
    <p>La página que buscas no existe o ha sido movida.</p>
</div>
</body>
</html>
