<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio Restaurante</title>
</head>
<body>
    <h1>Bienvenido al Inicio del Restaurante</h1>

    <button onclick="location.href='/cartas/crear'">Crear Carta</button>
    <button onclick="location.href='/direcciones'">Editar Dirección</button>
    <button onclick="location.href='/eliminarRestaurante'">Eliminar Restaurante</button>

    <h2>Cartas Existentes</h2>
    <ul>
        <li th:each="carta : ${cartas}">
            <span th:text="${carta.nombre}"></span>
            <a th:href="@{/cartas/editar/{id}(id=${carta.id})}">Editar</a>
            <form th:action="@{/cartas/eliminar/{id}(id=${carta.id})}" method="post">
                <button type="submit">Eliminar</button>
            </form>
        </li>
    </ul>
</html>