<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<div class="login-container">
    <div class="company-name">ICED Latte</div>
    <div class="login-title">Iniciar Sesión</div>
    <div class="login-subtitle">Inicia sesión y transforma tus compras en puntos</div>

    <form action="/login" method="POST">
        <input type="email" id="email" name="email" placeholder="Email" required>
        <input type="password" id="pass" name="pass" placeholder="Contraseña" required>
        <button type="submit">Ingresar</button>
    </form>

    <p class="error-message" th:if="${param.error}">Credenciales incorrectas</p>
</div>
</body>
</html>
