<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pago realizado correctamente • Iced Latte</title>
    <link rel="stylesheet" href="/css/pagoExitoso.css">
</head>
<body>
<header>
    <h1>Iced Latte</h1>
    <div class="auth-buttons">
        <button onclick="history.back()">Volver</button>
    </div>
</header>
<div class="success-section">
    <h2>¡Pago realizado con éxito!</h2>
    <p>Tu pedido ha sido confirmado y está en proceso de preparación.</p>
</div>
</body>
</html>