<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro Repartidor</title>
</head>
<body>
<h1>Registro Repartidor</h1>
<form action="/registro/repartidor" method="post">
    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="pass" placeholder="Contraseña" required>
    <input type="text" name="nombre" placeholder="Nombre" required>
    <input type="text" name="apellidos" placeholder="Apellidos" required>
    <input type="text" name="nif" placeholder="NIF" required>
    <button type="submit">Registrarse</button>
</form>
</body>
</html>
