<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Registro Restaurante</title>
</head>
<body>
<h1>Registro Restaurante</h1>
<form action="/registro/restaurante" method="post">
  <input type="email" name="email" placeholder="Email" required>
  <input type="password" name="pass" placeholder="Contraseña" required>
  <input type="text" name="nombre" placeholder="Nombre del Restaurante" required>
  <input type="text" name="cif" placeholder="CIF" required>
  <button type="submit">Registrarse</button>
</form>
</body>
</html>
