<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mis Direcciones</title>
    <link rel="stylesheet" href="/css/verDireccion.css">

</head>
<body>
<h1>Mis Direcciones</h1>

<div th:if="${direcciones != null and not #lists.isEmpty(direcciones)}">
    <ul>
        <li th:each="direccion : ${direcciones}">
            <span th:text="${direccion.calle + ', ' + direccion.numero + ', ' + direccion.municipio + ', ' + direccion.codigoPostal}"></span>
            <span th:if="${direccion.complemento != null and not #strings.isEmpty(direccion.complemento)}"
                  th:text="' (' + ${direccion.complemento} + ')'"></span>
        </li>
    </ul>
</div>
<div th:if="${direcciones == null or #lists.isEmpty(direcciones)}">
    <p>No tienes direcciones registradas.</p>
</div>

<a href="/">Volver al Inicio</a>
</body>
</html>
